String java.lang.String
Boolean java.lang.Boolean
Character java.lang.Character
Byte java.lang.Byte
Short java.lang.Short
Integer java.lang.Integer
Long java.lang.Long
Float java.lang.Float
Locale java.util.Locale
System java.lang.System
ClassLoader java.lang.ClassLoader
byte byte
short short
int int
long long
float float
double double
char char
boolean boolean
userDefinedClass userDefinedClass
